@model DAWProject.Models.Player

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.Label("UserName", "UserName:")
<br />
<p>@Model.User.UserName</p>

@Html.Label("Name", "Name:")
<br />
<p>@Model.Name</p>


@Html.Label("NrWins", "NrWins:")
<br />
<p>@Model.PlayerStat.NrWins</p>

@Html.Label("NrLosses", "NrLosses:")
<br />
<p>@Model.PlayerStat.NrLosses</p>

@Html.Label("Division", "Division:")
<br />
<p>@Model.Division.Name</p>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Player", method: FormMethod.Get, routeValues: new { id = Model.PlayerId }))
{
    <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Update</button>
}

@using (Html.BeginForm(actionName: "Delete", controllerName: "Player", method: FormMethod.Post, routeValues: new { id = Model.PlayerId }))
{
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Delete</button>
}
<br />


